 @page "/remotemap"

<div style="text-align: center; " class="mx-4">
    <h2 class="text-2xl font-semibold mt-10 mb-4 ">Remote Sensing Technology</h2>

    <p class="text-justify">
        Remote sensing technology is an indispensable tool for assessing flood destruction in areas like Larkana, Sukkur, and Shikarpur, offering a fast, accurate, and comprehensive overview of impacted regions. By utilizing satellite images and aerial photography, it allows for the immediate evaluation of flood extent, damage to infrastructure, and affected agricultural lands without the need for physical presence on the ground, which can be difficult or dangerous due to inundated conditions. This technique supports timely and effective decision-making for emergency response, relief distribution, and recovery planning. Moreover, remote sensing aids in analyzing historical flood data, enhancing future flood preparedness and mitigation strategies in these vulnerable regions.
        Pakistan frequently utilizes remote sensing techniques to assess flood destruction for several compelling reasons. Firstly, floods often encompass vast areas, making traditional ground-based assessments slow, dangerous, and logistically difficult. Remote sensing offers a safe and efficient alternative, gathering data over large regions from satellites.
        Water resources in Pakistan are primarily derived from the Indus River system, which supports the country's main agricultural activities. The total area equipped for irrigation spans around 202,000 square kilometers, highlighting the importance of agriculture in Pakistan's economy. The country's agriculture is crucial, providing the livelihood for a large portion of the population and contributing significantly to the GDP.
        The technology provides valuable real-time information. By analyzing pre-flood and post-flood images, officials can rapidly determine the extent of flood inundation, identify critical infrastructure damage, and pinpoint areas most in need of assistance. This swift data acquisition is crucial for launching timely rescue and relief efforts.
        Remote sensing offers detailed information beyond what the human eye can perceive. Specialized algorithms can analyze satellite imagery to identify flooded areas and differentiate them from other water bodies.
    </p>
</div>

<div class="mt-12 mb-10 grid md:grid-cols-2 gap-8">
    <div class ="mx-4">
            <img src="Pictures/P1.png"
                 alt="Land cover classification map of Pakistan"
                 class="mb-4"
                 width="800"
                 height="400"
                 style="aspect-ratio: 800 / 400; object-fit: cover;" />
        <h3 class="text-lg mx-4 font-bold">Analysis</h3>
        <p class="mx-4 text-justify">
            Before:  This image is a land cover classification map of Pakistan.
            It depicts land cover from <b>January 1, 2021, to December 31, 2021 </b> before any major flooding events.
            Urban areas are colored red, water bodies are colored blue, and vegetated areas are colored green. 
            The data source for this image is Google Earth Engine (GEE)</p>
        </div>
    <div class="mx-4" >
            <img src="Pictures/P2.png"
                 alt="Land cover classification map of Pakistan after flood"
                 class="mb-4"
                 width="800"
                 height="400"
                 style="aspect-ratio: 800 / 400; object-fit: cover;" />
        <h3 class="text-lg mx-4 font-bold">Analysis</h3>
        <p class="mx-4 text-justify">
            After: This image illustrates a land cover classification map of Pakistan for the period of<b> June 1,2022, to August 31, 2022</b>.
            The map likely leverages data from Google Earth Engine (GEE) to classify the land
                cover, blue represent water, green represent vegetation, and red represent urban areas. Areas with more
                water, potentially due to after flood events, are accentuated in this map.
            </p>
        </div>
    
</div> 

