@page "/sukkur"
@using ClassLibraryDAL
@using ClassLibraryModel


<div class="w-full py-12 lg:py-24">
    <div class="container mx-auto px-4 max-w-screen-lg">
        <div class="flex flex-col gap-4">
            <h1 class="text-3xl font-bold tracking-tight">Floods in Sukkur</h1>
            <p class="text-black-500 dark:text-black-400">
                Sukkur wasn't spared in the devastating 2022 Pakistan floods. The Larkana and Sukkur divisions faced severe flooding, with the Indus River overflowing and resembling a vast lake. Infrastructure suffered greatly, and some areas were completely inundated.

                Sukkur, situated near Lake Manchar, witnessed the lake overflowing due to heavy monsoon rains. This overflow further complicated the situation as floodwaters had nowhere to drain effectively.

                Thousands of people in Sukkur were displaced from their homes due to the rising waters. Many sought refuge in temporary shelters or on higher ground, facing challenges with access to clean water, food, and sanitation.
                Sukkur being an agricultural hub, the floods caused significant damage to crops and agricultural land. This not only impacted local food security but also affected the livelihoods of many farmers in the region.
                Thankfully, some towns like Johi and Mehar were protected by residents who built embankments.
            </p>
        </div>
        <div class="grid gap-8 lg:gap-12 relative">
            <div class="relative">
                <img src="Pictures/S1.jpg"
                     width="1400"
                     height="933"
                     alt="oops"
                     class="mx-auto rounded-lg overflow-hidden current-image"
                     style="width: 100%; height: auto; object-fit: cover;" />
                <button class="absolute top-1/2 left-0 transform -translate-y-1/2 bg-gray-800 bg-opacity-50 text-white p-2 rounded-full shadow-md prev-btn">
                    &lt;
                </button>
                <button class="absolute top-1/2 right-0 transform -translate-y-1/2 bg-gray-800 bg-opacity-50 text-white p-2 rounded-full shadow-md next-btn">
                    &gt;
                </button>
            </div>
        </div>
       
    </div>
    
</div>

                                                     @*  YEAR 2015 *@
 <section class="w-full py-12  bg-gray-100 mt-20 mb-20"> 
<div class="w-full py-12">
    <div class="container flex flex-col gap-4 px-4 md:px-6">
        <div class="flex flex-col gap-4">
            <h1 class="text-3xl font-bold tracking-tight">Floods Impact in Sukkur </h1>
            <h2 class="text-2xl font-bold "> Maps Classification and </h2>
            <h2 class="text-2xl font-bold "> Year  2015</h2>
            <h2 class="text-1xl font-bold "> Water Level due to floods </h2>

        </div>
        <div class="grid gap-4 md:grid-cols-3">
            <div class="flex flex-col gap-2">
                <img src="Pictures/SB.png"
                     alt="Image 1"
                     width="600"
                     height="400"
                     class="aspect-image rounded-lg object-cover overflow-hidden" />
                <p class="text-sm text-gray-500 dark:text-gray-400"></p>
            </div>
            <div class="flex flex-col gap-2">
                <img src="Pictures/SD.png"
                     alt="Image 2"
                     width="600"
                     height="400"
                     class="aspect-image rounded-lg object-cover overflow-hidden" />
                <p class="text-sm text-gray-500 dark:text-gray-400"></p>
            </div>
            <div class="flex flex-col gap-2">
                <img src="Pictures/SA.png"
                     alt="Image 3"
                     width="600"
                     height="400"
                     class="aspect-image rounded-lg object-cover overflow-hidden" />
                <p class="text-sm text-gray-500 dark:text-gray-400"></p>
            </div>
        </div>
        <div class="grid gap-4 md:grid-cols-3">
            <div class="flex flex-col gap-2">
                <p> <b> BEFORE: </b   This image depicts a land cover classification map, likely created from data acquired through Google Earth Engine (GEE), for the period of <b> January 1, 2015 </b>, to <b> August 5, 2015 </b>. Urban areas are typically colored red, water bodies are colored blue, and vegetated areas are colored green. The limited blue areas in this image likely represent permanent water bodies like rivers or lakes. This map serves as a valuable reference point for understanding the pre-flood extent of water in the region. Areas currently classified as non-water (likely colored green or red) might be susceptible to flooding during heavy monsoon seasons or extreme weather events.</p>
            </div>
            <div class="flex flex-col gap-2">
                <p>
                     <b> DURING:  </b> This image depicts a land cover classification map, likely created using Google Earth Engine (GEE) data, for the period of <b> August 10, 2015 </b>, to <b> August 20, 2015 </b>. The increased blue color compared to the previous image (dated pre-2015 flood) likely represents inundation caused by the floods.
                </p>
            </div>
            <div class="flex flex-col gap-2">
                <p>
                    <b>AFTER: </b>	This image likely depicts a land cover classification map, likely created using Google Earth Engine (GEE) data, for the period of <b> September 1, 2015 </b>, to <b>September 29, 2015 </b>. Compared to the image depicting the peak flood period (August 10-20, 2015), this image likely shows a decrease in water coverage in Sukkur.However, the blue areas likely represent significant water presence compared to pre-flood conditions. Areas classified as green or red might still be recovering from floodwaters.
                </p
            </div>
        </div>
    </div>
</div>
</section>



<div class="w-full py-12">
    <div class="container flex flex-col gap-4 px-4 md:px-6">
        <div class="flex flex-col gap-4">
            <h2 class="text-1xl font-bold"> Time Series graph for Water level in year 2015</h2>

        </div>
        <div class="grid gap-4 md:grid-cols-3">

            <div class="flex flex-col gap-2" style="width: 500px; height: 287px;">
             <img src="Pictures/S2015B.png"
              alt="Image 3"
              width="500"
              height="287"
              class="aspect-image rounded-lg object-cover overflow-hidden" />
              <p class="text-sm text-gray-500 dark:text-gray-400"></p>
           </div> 

            <div class="flex flex-col gap-2" style="width: 624px; height: 287px;">
             <img src="Pictures/S2015D.PNG"
            alt="Image 3"
            width="624"
            height="287"
            class="aspect-image rounded-lg object-cover overflow-hidden" />
            <p class="text-sm text-gray-500 dark:text-gray-400"></p>
           </div>  

            
        </div>
        <div class="grid gap-4 md:grid-cols-3">
            <div class="flex flex-col gap-2">
                <p>   This Graph depicts a water level in <b>2015 </b>at different time of interavls.</p>
            </div>
            <div class="flex flex-col gap-2">
                <p>
               This Graph also  depicts a water level in <b>2015 </b>at August month        
               </p>
            </div>
            
        </div>
    </div>
</div>



<div class="w-full py-12">
    <div class="container flex flex-col gap-4 px-4 md:px-6">
    
        <div class="grid gap-4 md:grid-cols-3">

            <div class="flex flex-col gap-2" style="width: 624px; height: 287px;">
             <img src="Pictures/S2015A.PNG"
              alt="Image 3"
              width="624"
              height="287"
              class="aspect-image rounded-lg object-cover overflow-hidden" />
              <p class="text-sm text-gray-500 dark:text-gray-400"></p>
           </div> 

        </div>
        <div class="grid gap-4 md:grid-cols-3">
           
            <div class="flex flex-col gap-2">
                <p>
                    
               This Graph also  depicts a water level in <b>2015 </b>at September month
                </p
            </div>
        </div>
    </div>
</div>
                                            @*   YEAR 2017 *@
                                            
<section class="w-full py-12  bg-gray-100 mt-20 mb-20">                          
<div class="w-full py-12">
    <div class="container flex flex-col gap-4 px-4 md:px-6">
        <div class="flex flex-col gap-4">
            <h2 class="text-2xl font-bold "> Year 2017</h2>
            
        </div>
        <div class="grid gap-4 md:grid-cols-3">
            <div class="flex flex-col gap-2">
                <img src="Pictures/S2017.PNG"
                     alt="Image 1"
                     width="600"
                     height="400"
                     class="aspect-image rounded-lg object-cover overflow-hidden" />
                <p class="text-sm text-gray-500 dark:text-gray-400"></p>
            </div>
           
          

        </div>
        <div class="grid gap-4 md:grid-cols-3">
            <div class="flex flex-col gap-2">
                <p> <b> Water Level: </b   This image depicts a land cover classification map, likely created from data acquired through Google Earth Engine (GEE), for the period of <b> January 1, 2017 </b>, to <b> December 31, 2017 </b>. Urban areas are typically colored red, water bodies are colored blue, and vegetated areas are colored green. The limited blue areas in this image likely represent permanent water bodies like rivers or lakes. This map serves as a valuable reference point for understanding the pre-flood extent of water in the region. Areas currently classified as non-water (likely colored green or red) might be susceptible to flooding during heavy monsoon seasons or extreme weather events.</p>
            </div>
            
            
        </div>
    </div>
</div>
</section>
  


                                            @*   YEAR 2018 *@


<div class="w-full py-12">
    <div class="container flex flex-col gap-4 px-4 md:px-6">
        <div class="flex flex-col gap-4">

            <h2 class="text-2xl font-bold "> Year 2018</h2>
           
        </div>
        <div class="grid gap-4 md:grid-cols-3">
            <div class="flex flex-col gap-2">
                <img src="Pictures/S2018.PNG"
                     alt="Image 1"
                     width="600"
                     height="400"
                     class="aspect-image rounded-lg object-cover overflow-hidden" />
                <p class="text-sm text-gray-500 dark:text-gray-400"></p>
            </div>
           
           <div class="flex flex-col gap-2" style="width: 624px; height: 287px;">
             <img src="Pictures/ST2018.png"
            alt="Image 3"
            width="624"
            height="287"
            class="aspect-image rounded-lg object-cover overflow-hidden" />
            <p class="text-sm text-gray-500 dark:text-gray-400"></p>
           </div> 


        </div>
        <div class="grid gap-4 md:grid-cols-3">
            <div class="flex flex-col gap-2">
                <p> <b> Water Level: </b   This image depicts a land cover classification map, likely created from data acquired through Google Earth Engine (GEE), for the period of <b> January 1, 2018 </b>, to <b> October 1, 2018 </b>. Urban areas are typically colored red, water bodies are colored blue, and vegetated areas are colored green. The limited blue areas in this image likely represent permanent water bodies like rivers or lakes. This map serves as a valuable reference point for understanding the pre-flood extent of water in the region. Areas currently classified as non-water (likely colored green or red) might be susceptible to flooding during heavy monsoon seasons or extreme weather events.</p>
            </div>
            
            <div class="flex flex-col gap-2">
                <p class="mx-4 ">
                    <b>Time Series Graph: </b>	This Graph depicts a water level in <b>2018 </b>at different time of interavls.
                </p>
            </div>
        </div>
    </div>
</div>

                                                  @* YEAR 2020  *@
 <section class="w-full py-12  bg-gray-100 mt-20 mb-20"> 
<div class="w-full py-12">
    <div class="container flex flex-col gap-4 px-4 md:px-6">
        <div class="flex flex-col gap-4">
            <h2 class="text-2xl font-bold "> Year 2020</h2>
            <h2 class="text-1xl font-bold "> Water Level due to floods </h2>

        </div>
        <div class="grid gap-4 md:grid-cols-3">
            <div class="flex flex-col gap-2">
                <img src="Pictures/S2020B.PNG"
                     alt="Image 1"
                     width="600"
                     height="400"
                     class="aspect-image rounded-lg object-cover overflow-hidden" />
                <p class="text-sm text-gray-500 dark:text-gray-400"></p>
            </div>
            <div class="flex flex-col gap-2">
                <img src="Pictures/S2020D.PNG"
                     alt="Image 2"
                     width="600"
                     height="400"
                     class="aspect-image rounded-lg object-cover overflow-hidden" />
                <p class="text-sm text-gray-500 dark:text-gray-400"></p>
            </div>
            <div class="flex flex-col gap-2">
                <img src="Pictures/S2020A.PNG"
                     alt="Image 3"
                     width="600"
                     height="400"
                     class="aspect-image rounded-lg object-cover overflow-hidden" />
                <p class="text-sm text-gray-500 dark:text-gray-400"></p>
            </div>
        </div>
        <div class="grid gap-4 md:grid-cols-3">
            <div class="flex flex-col gap-2">
                <p> <b> BEFORE: </b   This image depicts a land cover classification map, likely created from data acquired through Google Earth Engine (GEE), for the period of <b> January 1, 2020 </b>, to <b> August 1, 2020 </b>. Urban areas are typically colored red, water bodies are colored blue, and vegetated areas are colored green. The limited blue areas in this image likely represent permanent water bodies like rivers or lakes. This map serves as a valuable reference point for understanding the pre-flood extent of water in the region. Areas currently classified as non-water (likely colored green or red) might be susceptible to flooding during heavy monsoon seasons or extreme weather events.</p>
            </div>
            <div class="flex flex-col gap-2">
                <p>
                     <b> DURING:  </b> This image depicts a land cover classification map, likely created using Google Earth Engine (GEE) data, for the period of <b> August 1, 2020 </b>, to <b> September 27, 2020 </b>. The increased blue color compared to the previous image (dated pre-2015 flood) likely represents inundation caused by the floods.
                </p>
            </div>
            <div class="flex flex-col gap-2">
                <p>
                    <b>AFTER: </b>	This image likely depicts a land cover classification map, likely created using Google Earth Engine (GEE) data, for the period of <b> OCtober 01, 2020 </b>, to <b> Octobr 31, 2020 </b>. Compared to the image depicting the peak flood period (August 10-20, 2015), this image likely shows a decrease in water coverage in Sukkur.However, the blue areas likely represent significant water presence compared to pre-flood conditions. Areas classified as green or red might still be recovering from floodwaters.
                </p
            </div>
        </div>
    </div>
</div>
</section>

<div class="w-full py-12">
    <div class="container flex flex-col gap-4 px-4 md:px-6">
        <div class="flex flex-col gap-4">
            <h2 class="text-1xl font-bold"> Time Series graph OF Water level </h2>

        </div>
        <div class="grid gap-4 md:grid-cols-3">

            <div class="flex flex-col gap-2" style="width: 500px; height: 287px;">
             <img src="Pictures/ST2020B.PNG"
              alt="Image 3"
              width="500"
              height="287"
              class="aspect-image rounded-lg object-cover overflow-hidden" />
              <p class="text-sm text-gray-500 dark:text-gray-400"></p>
           </div> 

            <div class="flex flex-col gap-2" style="width: 624px; height: 287px;">
             <img src="Pictures/ST2020D.PNG"
            alt="Image 3"
            width="624"
            height="287"
            class="aspect-image rounded-lg object-cover overflow-hidden" />
            <p class="text-sm text-gray-500 dark:text-gray-400"></p>
           </div>  

            
        </div>
        <div class="grid gap-4 md:grid-cols-3">
            <div class="flex flex-col gap-2">
                <p>
                 This Graph also  depicts a water level in <b> 2020</b> from <b> January 1 to August 1 </b> .

                </p>
            </div>
            <div class="flex flex-col gap-2">
                <p>
               This Graph also  depicts a water level in <b> 2020  </b> from <b> August 1, 2020 </b>, to <b> September 27, 2020 </b>
                </p>
            </div>
            
        </div>
    </div>
</div>



<div class="w-full py-12">
    <div class="container flex flex-col gap-4 px-4 md:px-6">
    
        <div class="grid gap-4 md:grid-cols-3">

            <div class="flex flex-col gap-2" style="width: 624px; height: 287px;">
             <img src="Pictures/ST2020A.PNG"
              alt="Image 3"
              width="624"
              height="287"
              class="aspect-image rounded-lg object-cover overflow-hidden" />
              <p class="text-sm text-gray-500 dark:text-gray-400"></p>
           </div> 

        </div>
        <div class="grid gap-4 md:grid-cols-3">
           
            <div class="flex flex-col gap-2">
                <p>
                  This Graph also  depicts a water level in <b> 2020  </b> from <b> October 1, 2020 </b>, to <b> OCtober 31, 2020 </b>
                  
                </p
            </div>
        </div>
    </div>
</div>

                                                  @* YEAR 2021 TO 2022 *@

 <section class="w-full py-12  bg-gray-100 mt-20 mb-20"> 
<div class="w-full py-12">
    <div class="container flex flex-col gap-4 px-4 md:px-6">
        <div class="flex flex-col gap-4">

            <h2 class="text-2xl font-bold "> Year 2021 TO 2022</h2>
           
        </div>
        <div class="grid gap-4 md:grid-cols-3">
            <div class="flex flex-col gap-2">
                <img src="Pictures/S2021.PNG"
                     alt="Image 1"
                     width="600"
                     height="400"
                     class="aspect-image rounded-lg object-cover overflow-hidden" />
                <p class="text-sm text-gray-500 dark:text-gray-400"></p>
            </div>
           
           <div class="flex flex-col gap-2" style="width: 624px; height: 287px;">
             <img src="Pictures/ST2021.PNG"
            alt="Image 3"
            width="624"
            height="287"
            class="aspect-image rounded-lg object-cover overflow-hidden" />
            <p class="text-sm text-gray-500 dark:text-gray-400"></p>
           </div> 


        </div>
        <div class="grid gap-4 md:grid-cols-3">
            <div class="flex flex-col gap-2">
                <p> <b> Water Level: </b   This image depicts a land cover classification map, likely created from data acquired through Google Earth Engine (GEE), for the period of <b> June 1, 2021 </b>, to <b> December 27, 2022 </b>. Urban areas are typically colored red, water bodies are colored blue, and vegetated areas are colored green. The limited blue areas in this image likely represent permanent water bodies like rivers or lakes. This map serves as a valuable reference point for understanding the pre-flood extent of water in the region. Areas currently classified as non-water (likely colored green or red) might be susceptible to flooding during heavy monsoon seasons or extreme weather events.</p>
            </div>
            
            <div class="flex flex-col gap-2">
                <p>
                    <b>Time Series Graph: </b>	 This Graph also  depicts a water level in <b> 2021 and 2022  </b> from <b> June 1, 2021 </b>, to <b> December 27, 2022 </b>
                </p
            </div>
        </div>
    </div>
</div>
</section>



                                                              @*  Sukkurr 2018 *@
<section class="w-full py-12  mt-20 mb-20"> 
 <div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">
    <h2 class="text-3xl font-bold tracking-tight"> Analysis on Flood Imapct </h2>
    <h3 class="text-2xl font-bold tracking-tight"> Floods Imapct in 2018 </h3>
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/SFloodBefore18.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
            <h2 class="text-xl font-semibold mb-4">Before Floods</h2>
            <p>
                This map shows the before floods image. Black color shows the water level in image. As it is shown in image we have relatively less black color.

            </p>

        </div>
    </div>
</div>
<div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/SFloodAfter18.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
            <h2 class="text-xl font-semibold mb-4"> After Floods</h2>
            <p>
                 This map shows the After  floods image. Black color shows the water level in  image. As it is shown in image we have relatively more  black color. 
                 Means water level is ,more wherever we have dark color.
                  
            </p>

        </div>
    </div>
</div>
<div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/SFloodAreas18.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
            <h2 class="text-xl font-semibold mb-4">Flooded Areas</h2>
            <p>
               This image shows the Floodes Areas. Blue color shows the Flooded areas.

            </p>

        </div>
    </div>
</div>

<div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/Spop18.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
             <h2 class="text-xl font-semibold mb-4">Exposed Population</h2>
            <p>
               This image shows the Exposed Population with red spots.

            </p>

        </div>
    </div>
</div>

<div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/SLc18.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
             <h2 class="text-xl font-semibold mb-4">Land Cover</h2>
            <p>
               This shows the land Cover in 2018 due to floods

            </p>

        </div>
    </div>
</div>

<div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/SLcr18.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
             <h2 class="text-xl font-semibold mb-4">Crop Land</h2>
            <p>
                This shows the Crop Land in 2018 due to floods

            </p>

        </div>
    </div>
</div>
<div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/SAffected18.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
             <h2 class="text-xl font-semibold mb-4"> Affected CropLand </h2>
            <p>
                This shows the Affected CropLand in 2018 due to floods
            </p>

        </div>
    </div>
</div>


<div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/SUrban18.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
             <h2 class="text-xl font-semibold mb-4">No Urban Affected </h2>
            <p>
               This images shows that no Urban areas get affected during floods.

            </p>

        </div>
    </div>
</div>
</section> 
                                                         @*  Sukkur 2021 *@

 <section class="w-full py-12  bg-gray-100 mt-20 mb-20  ">
 <div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">

    <h3 class="text-2xl font-bold tracking-tight"> Floods Imapct in 2021 </h3>
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/SFloodBefore21.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
            <h2 class="text-xl font-semibold mb-4">Before Floods</h2>
            <p>
                This map shows the before floods image. Black color shows the water level in image. As it is shown in image we have relatively less black color.

            </p>

        </div>
    </div>
</div>
<div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/SFloodAfter21.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
            <h2 class="text-xl font-semibold mb-4">After  Floods</h2>
            <p>
               
                  This map shows the After  floods image. Black color shows the water level in  image. As it is shown in image we have relatively more  black color. 
                 Means water level is ,more wherever we have dark color.
            </p>

        </div>
    </div>
</div>
<div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/SFloodAreas21.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
            <h2 class="text-xl font-semibold mb-4">Flooded Areas</h2>
            <p>
                 This image shows the Floodes Areas. Blue color shows the Flooded areas.

            </p>

        </div>
    </div>
</div>

<div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/Spop21.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
             <h2 class="text-xl font-semibold mb-4">Exposed Population</h2>
            <p>
                This image shows the Exposed Population with red spots.
            </p>

        </div>
    </div>
</div>

<div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/SLc21.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
             <h2 class="text-xl font-semibold mb-4">Land Cover</h2>
            <p>
                 This shows the land Cover in 2021 due to floods

            </p>

        </div>
    </div>
</div>

<div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/SLcr21.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
             <h2 class="text-xl font-semibold mb-4">Crop Land</h2>
            <p>
               This shows the Crop Land in 2021 due to floods
            </p>

        </div>
    </div>
</div>
<div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/SAffected21.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
             <h2 class="text-xl font-semibold mb-4"> Affected CropLand </h2>
            <p>
              This shows the Affected CropLand in 2021 due to floods.Green spots shows the Affected CropLand

            </p>

        </div>
    </div>
</div>


<div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/SUrban21.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
             <h2 class="text-xl font-semibold mb-4">No Urban Affected </h2>
            <p>
                This images shows that no Urban areas get affected during floods.
                 Yellow Spots shows the Urban Area

            </p>

        </div>
    </div>
</div>
</section> 
                                                         @*  Sukkur 2022 *@

 <section class="w-full py-12   mt-20 mb-20"> 
 <div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">
    
    <h3 class="text-2xl font-bold tracking-tight"> Floods Imapct in 2022 </h3>
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/SFloodBefore22.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
            <h2 class="text-xl font-semibold mb-4">Before Floods</h2>
            <p>
                This map shows the before floods image. Black color shows the water level in image. As it is shown in image we have relatively less black color.

            </p>

        </div>
    </div>
</div>
<div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/SFloodAfter22.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
            <h2 class="text-xl font-semibold mb-4">Before Floods</h2>
            <p>
                
                  This map shows the After  floods image. Black color shows the water level in  image. As it is shown in image we have relatively more  black color. 
  Means water level is ,more wherever we have dark color.
            </p>

        </div>
    </div>
</div>
<div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/SFloodAreas22.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
            <h2 class="text-xl font-semibold mb-4">Flooded Areas</h2>
            <p>
                 This image shows the Floodes Areas. Blue color shows the Flooded areas.

            </p>

        </div>
    </div>
</div>

<div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/Spop22.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
             <h2 class="text-xl font-semibold mb-4">Exposed Population</h2>
            <p>
               This image shows the Exposed Population with red spots.

            </p>

        </div>
    </div>
</div>

<div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/SLc22.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
             <h2 class="text-xl font-semibold mb-4">Land Cover</h2>
            <p>
                 This shows the land Cover in 2022 due to floods

            </p>

        </div>
    </div>
</div>

<div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/SLcr22.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
             <h2 class="text-xl font-semibold mb-4">Crop Land</h2>
            <p>
              This shows the Crop Land in 2022 due to floods

            </p>

        </div>
    </div>
</div>
<div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/SAffected22.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
             <h2 class="text-xl font-semibold mb-4"> Affected CropLand </h2>
            <p>
              This shows the Affected CropLand in 2022 due to floods. Green spots shows the Affected CropLand
            </p>

        </div>
    </div>
</div>


<div class="max-w-full mx-auto p-4" style="margin-bottom: 100px;">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
            <img src="Pictures/SUrban22.PNG"
                 alt="Flood"
                 class="rounded-lg slideshow-img"
                 width="800"
                 height="800"
                 style="object-fit: cover;" />
        </div>
        <div class="rounded-lg shadow-md p-4">
             <h2 class="text-xl font-semibold mb-4"> No Urban Area Affected</h2>
            <p>
                This images shows that no Urban areas get affected during floods.
                Yellow Spots shows the Urban Area

            </p>

        </div>
    </div>
</div>

</section> 
 
 
@* 
<div class="mt-20">
    <!-- You can adjust the amount of margin as needed -->
    @foreach (var item in info_Sukkur_model)
    {
        <div class="max-w-full mx-auto p-4">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                <div class="rounded-lg shadow-md p-1 flex flex-col items-center relative">
                    <img src="@item.imageURL4" />
                </div>
                <div class="rounded-lg shadow-md p-4">
                    <h1 class="text-xl font-semibold mb-4">@item.heading</h1>
                    <p>
                        @item.info
                    </p>

                   

                </div>
                

            </div>
        </div>
    }
</div>



@code {
    private SukkurModel info_Sukkur_Model { get; set; } = new SukkurModel();
    private string? msg { get; set; }

    private List<SukkurModel> info_Sukkur_model = new List<SukkurModel>();


    protected override void OnInitialized()
    {
        GetSukkur();
    }
    private void GetSukkur()
    {
        info_Sukkur_model = SukkurDAL.GetSukkurInfo();
    }

}
 *@