<header class="flex h-20 w-full items-center justify-between px-4 md:px-6 bg-blue-300">
    <a class="flex items-center" href="#">
        <div class="flex items-center">
            <img src="/favicon.png" width="40" class="mr-5" />
            <span class="text-xl font-bold">Flood Assessment</span>

        </div>
        <span class="sr-only">Flood Assessment</span>
    </a>
    <nav class="hidden lg:flex  ">
        <nav aria-label="Main"
             data-orientation="horizontal"
             dir="ltr"
             class="relative z-10 flex max-w-max flex-1 items-center justify-center ">
            <div style="position: relative;" class="">
                <ul data-orientation="horizontal"
                    class="group flex flex-1 list-none items-center justify-center space-x-1"
                    dir="ltr">
                    <a class="group inline-flex h-9 w-max items-center justify-center rounded-md bg-blue-100 px-4 py-2 text-sm font-medium transition-colors  hover:bg-blue-500 hover:text-white focus:bg-blue-200 focus:text-white focus:outline-none disabled:pointer-events-none disabled:opacity-50 data-[active]:bg-gray-100/50 data-[state=open]:bg-gray-100/50 0"
                       data-radix-collection-item=""
                       href="/">
                        Home
                    </a>
                    <a class="group inline-flex h-9 w-max items-center justify-center rounded-md bg-blue-100 px-4 py-2 text-sm font-medium transition-colors  hover:bg-blue-500 hover:text-white focus:bg-blue-200 focus:text-white focus:outline-none disabled:pointer-events-none disabled:opacity-50 data-[active]:bg-gray-100/50 data-[state=open]:bg-gray-100/50"
                       data-radix-collection-item=""
                       href="/map">
                        Pak Map
                    </a>
                    <a class="group inline-flex h-9 w-max items-center justify-center rounded-md bg-blue-100 px-4 py-2 text-sm font-medium transition-colors  hover:bg-blue-500 hover:text-white focus:bg-blue-200 focus:text-white focus:outline-none disabled:pointer-events-none disabled:opacity-50 data-[active]:bg-gray-100/50 data-[state=open]:bg-gray-100/50"
                       data-radix-collection-item=""
                       href="/finfo">
                        Flood Information
                    </a>
                    
                    <a class="group inline-flex h-9 w-max items-center justify-center rounded-md bg-blue-100 px-4 py-2 text-sm font-medium transition-colors  hover:bg-blue-500 hover:text-white focus:bg-blue-200 focus:text-white focus:outline-none disabled:pointer-events-none disabled:opacity-50 data-[active]:bg-gray-100/50 data-[state=open]:bg-gray-100/50"
                       data-radix-collection-item=""
                       href="/cities">
                        Cities
                    </a>
                </ul>
            </div>
            <div class="absolute left-0 top-full flex justify-center"></div>
        </nav>
    </nav>
    
        <a class="inline-flex items-center justify-center px-6 py-3 bg-indigo-500 text-white rounded-md font-medium hover:bg-indigo-600 focus:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500 focus-visible:ring-opacity-75"
           href="/about-us">
            Contact Us
        </a>
   
</header>
